---
import linkedinLogo from '../assets/linkedin.svg';
---

<span class=" inline-flex items-center w-[100px] bg-green-100 text-white-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-purple-800 dark:text-white-300">
    <a href="https://www.linkedin.com/in/richard-nuñez-nuñez-7117a8113" target="_blank" rel="noopener">Open to work </a>
    <img src={linkedinLogo.src} width="24" height="24" alt="Linkedin" />
    <!-- <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span> -->
</span>